/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*
  START-----------------------------------------
*/

:root {
  --green: #3e885b;
  --white: #ffeecf;
  --violet: #5f1a37;
  --dark-blue: #183446;
  --light-blue: #046e8f;
  --lighter-blue: #06a9db;
  --grey: #8693ab;
  --dark-grey: #5c6a84;

  --navBarHeight: 6em;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  gap: 1em;
  flex-wrap: wrap;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  width: 100%;
  margin: 1em 0;
  padding: 0 1em;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerContainer h2 {
  font-size: 2em;
  color: var(--dark-blue);
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: min(45vh, 90vh);
}

.cell {
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
  padding: 0em;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.cell:hover {
  background-color: var(--lighter-blue);
}

.cell:active {
  background-color: var(--dark-blue);
  cursor: crosshair;
}

.bottomNavBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--navBarHeight);
  padding: 0.5em;
  background-color: var(--violet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turnIndicator {
  position: fixed;
  bottom: calc(var(--navBarHeight) / 4);
  padding: 0 3em;
  color: var(--white);
}

.turnIndicator.left {
  left: 0;
}

.turnIndicator.right {
  right: 0;
}

.bottomNavBar .message {
  color: var(--white);
  padding-bottom: 1em;
}

.bottomNavBar .newGame {
  background-color: var(--white);
  color: var(--violet);
  font-weight: 600;
  padding: 0.25em 2em;
  border: 1px solid var(--dark-blue);
  cursor: pointer;
}

.bottomNavBar .newGame:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.bottomNavBar .newGame:active {
  background-color: var(--lighter-blue);
  color: var(--white);
}

.cell.hasShip {
  background-color: var(--grey);
}

.cell.hasShip:hover {
  background-color: var(--dark-grey);
}

.cell.hover-preview {
  background-color: var(--dark-grey);
}

.cell.attack-preview {
  background-color: var(--violet);
}

.cell.hit {
  background-color: var(--dark-blue);
}

.cell.hasShip.hit {
  background-color: red;
}
