/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*
  START
*/

:root {
  --green: #3e885b;
  --white: #ffeecf;
  --brown: #55251d;
  --dark-blue: #183446;
  --light-blue: #046e8f;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 1em 0;
  padding: 0 1em;

  display: flex;
  gap: 1em;
}

.boardContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  flex: 1 1 0;
}

.cell {
  background-color: var(--light-blue);
  color: blue;
  border: 1px solid var(--dark-blue);
  padding: 0em;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
}
